<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title:title}) %>
</head>
<body>
    <section class="main-container">
        <%- include('../partials/header') %>
        <div class="main-container-left">
            <%- include('../partials/breadcrumb')%>
            <div class="product-information">
                <%- include('../partials/gallery')%>
                <%- include('../partials/product-card')%>
            </div>  
        </div>
    </section>
    <%- include('../partials/footer') %>
    <script src="/js/main.js"></script>
    <script src="<%- refreshUrl %>"> </script>
</body>
</html>