<main class="products-wrapper">
  <%products.forEach( function( product ){ %>
    <a href="/product/<%= product.url_slug %>" title = "<%= product.product_name %>" >
      <article class="product">
        <figure class="figure">
            <img src= "<%= product.product_image %>" alt= "<%= product.product_name %>" >
          <figcaption class="product-content">
            <p class="product-price">From $<%= product.product_price%></p>
            <h4 class="product-title"><%= product.product_name %></h4>
          </figcaption>
        </figure>
      </article>
    </a>
  <% }) %>
</main>