<section class="gallery-wrapper">
    <ul class="slider">
        <li class="item-slide">
            <img class="gallery-highlight" src=<%= product.product_image %> alt="main image">
        </li>
        <li class="item-slide">
            <img class="gallery-highlight" src=<%= product.product_gallery.image2 %> alt="main image">
        </li>
        <li class="item-slide">
            <img class="gallery-highlight" src=<%= product.product_gallery.image3 %> alt="main image">
        </li>
        <li class="item-slide">
            <img class="gallery-highlight" src=<%= product.product_gallery.image4 %> alt="main image">
        </li>
    </ul>
    <div class="gallery-wrapper-miniture">
        <img id="gallery-img-0" tabindex="0" class="gallery-img active" src=<%= product.product_gallery.image1 %> alt="product image 1" />
        <img id="gallery-img-1" tabindex="0" class="gallery-img" src=<%= product.product_gallery.image2 %> alt="product image 3" />
        <img id="gallery-img-2" tabindex="0" class="gallery-img" src=<%= product.product_gallery.image3 %> alt="product image 2" />
        <img id="gallery-img-3" tabindex="0" class="gallery-img" src=<%= product.product_gallery.image4 %> alt="product image 4" />
    </div>
</section>