<section class="gallery-wrapper">
    <img class="gallery-highlight" src=<%= prd.product_image %> alt="main image">
    <div class="gallery-wrapper-miniture">
        <img class="gallery-img active" src=<%= prd.product_gallery.image1 %>
            alt="product image 1" />
        <img class="gallery-img" src=<%= prd.product_gallery.image2 %>
            alt="product image 3" />
        <img class="gallery-img" src=<%= prd.product_gallery.image3 %>
            alt="product image 2" />
        <img class="gallery-img" src=<%= prd.product_gallery.image4 %>
            alt="product image 4" />
    </div>
</section>