<div>
    <p1><%= id %></p1>
    <p1><%= nombre %></p1>
    <p1><%= precio %></p1>
    <p1><%= imagen %></p1>
    <p1><%= imagen2 %></p1>
    <p1><%= descripcion %></p1>
    <p1><%= galeria1 %></p1>
    <p1><%= galeria2 %></p1>
    <p1><%= galeria3 %></p1>
    <p1><%= galeria4 %></p1>
    <p1><%= peso %></p1>
    <p1><%= existencia %></p1>
</div>